/*
Theme Name: Jaguza
Theme URI: http://kanzucode.com/jaguza
Author: Kanzu Code
Author URI: http://kanzucode.com/
Version: 1.2.4
Template: twentytwelve
Description: Jaguza is a fully responsive, translation-ready theme built to make your blog very fast and look amazing. It is a child theme of the awesome TwentyTwelve theme developed by the WordPress Team. Features include unlimited theme color options with over 10 pre-built, heavily-customizable homepage, amazing easily-customizable slider(that can be disabled), a stylish social bar, in-built theme help, front page template with its own widgets and an optional no-sidebar page template. All these and many more are easy to change from a classy, super powerful, easy-to-use Admin panel. Jaguza was built for speed, beauty and ease-of-use
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, one-column, two-columns, right-sidebar, left-sidebar, flexible-width, custom-menu,  full-width-template, microformats, post-formats, theme-options, translation-ready
Text Domain: jaguza

This theme is licensed under the GPL and is a child theme of the amazing TwentyTwelve theme developed by the WordPress Team 
*/

/* =Notes
--------------------------------------------------------------
This stylesheet, like the twentytwelve theme stylesheet, uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/

*/
/* =Include twentytwelve styling
--------------------------------------------------------------*/
@import url("../twentytwelve/style.css");

/* =GENERAL Section
--------------------------------------------------------------*/
/* === GENERAL Section: jaguza-specific styling === */
#jaguza_homepageblocks_strip{
	padding-top: 42px;
	padding-top: 3rem;
}

.strip_wrapper{
	margin: 0 auto;
	max-width: 960px;
	max-width: 70rem;
	overflow: hidden;
}

/*HOMEPAGE slider*/
#jaguza-home-slider .main-slider-text{
	width:38%;
	float: left;
	position:relative;
	min-height:196px;
	min-height:14rem;
	padding-bottom: 14px;
	padding-bottom:1rem;
	
}
#jaguza-home-slider .main-slider-text h3 a{ 
	 text-decoration: none;
	 font-size: 2em;
	 line-height: 1.2;
	 font-weight:normal;
 
}
#jaguza-home-slider .main-slider-text h3{
	margin-bottom:15px;
	text-transform:capitalize;
}
#jaguza-home-slider .main-slider-text p{
	font-size: 1.055em;
	line-height: 1.5;
	padding-right: 14px;
	padding-right:1rem;
}
#jaguza-home-slider .main-slider-image{
	width:52%;
	float: right;
	
}

span.read-more {
	margin-top: 28px;	
	margin-top: 2rem;
}
#jaguza-home-slider span.read-more a{
	position:absolute;
	left:0;
	bottom:-14px;
	background-color:#00AEC7;    
	color: #FFF;
	padding: 7px;
    padding: 0.5rem;
	font-size:0.8em;
    text-decoration: none;
	-webkit-border-radius: 3px; /* Safari prototype */
	-moz-border-radius: 3px; /* Old Firefox browsers */
	border-radius: 3px; /* Everything else - limited support at the moment */	
}
#jaguza-home-slider ul.slides{
	min-height: 352px;
    padding: 3rem 0 0 1rem;
}
#jaguza-home-slider .flex-control-nav {width: 100%; position: absolute; bottom: 21px; bottom:1.5rem; right:-224px; right:-16rem; text-align: center;}
#jaguza-home-slider  .flex-control-paging li a.flex-active { background-color: #00AEC7; cursor: default; }
#jaguza-home-slider .flex-control-paging li a{ border-radius: 0; width:21px; width:1.5rem;}

body.home .entry-content div.homepagepreview{
	text-align:center;
}
/*Pagination*/
.pagination {
	clear:both;
	padding: 0 0 56px 0;
	padding: 0 0 4rem 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}

.pagination span, .pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#A19FA0;
	background-color: #EBEBEB;
}

.pagination a:hover{
	color:#fff;
	background: #B3B3B3;
}

.pagination .current{
	padding:6px 9px 5px 9px;
	background: #00AEC7	;
	color:#fff;
}
/* === GENERAL Section: Overriding twentytwelve styling === */
/* Page structure */
body{
	background-color:#FFF;
}

 a{
	color:#00AEC7;	
}
.site-content article{
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:3.14286rem;
}
.site-content{
	width:70%;
	max-width:70%;
}
.site-content article footer{
	min-height:80px;
	min-height:5.71429rem;	
	height: auto;
	height:auto !important;        /* for IE as it does not support min-height */
	height:80px;                   /* for IE as it does not support min-height */
	 
	border-bottom:1px solid #E5E5E5;
}
.site-content article footer .the_date{
	float:left;
	height:5649px;
	height:3.5rem;	
	padding-top: 7px;
	padding-top:0.5rem;
	font-size:1.4rem;
	line-height:1;
	text-align:center;
	width:56px;
	width:4rem;	
	color: #FFF;
	text-transform:uppercase;
	background-color: #00AEC7;
	-webkit-border-radius: 3px; /* Safari prototype */
	-moz-border-radius: 3px; /* Old Firefox browsers */
	border-radius: 3px; /* Everything else - limited support at the moment */	
}
.site-content article footer .home-post-meta{
    float: left;
    padding-left: 1rem;
    padding-top: 1rem;
	min-width:70%;
}
.site-content article footer .home-post-meta div{
	float:left;
	max-width:30%;
	padding-left:21px;
	padding-left:1.5rem;
	padding-right:21px;
	padding-right:1.5rem;
}
.site-content article .entry-content .read-more{
	font-size:0.9em;
	padding: 4px;
	background-color:#F4F2F3;
	border: 1px solid #C8C8C8;
	-webkit-border-radius: 3px; /* Safari prototype */
	-moz-border-radius: 3px; /* Old Firefox browsers */
	border-radius: 3px; /* Everything else - limited support at the moment */	
}
.site-content article .entry-content .read-more a{
	color:#616362;
	text-decoration:none;
}
.site-content article .entry-content span.read-more a:hover{
	color:#00AEC7;
	font-weight:bold;
}
 
.site-content article footer .home-post-meta .home-author {
  background-image: url("images/homepage_sprite.png");
  background-position: 5px -8px;
  background-repeat: no-repeat;
}
.site-content article footer .home-post-meta .home-category {
  background-image: url("images/homepage_sprite.png");
  background-position: 5px -26px;
  background-repeat: no-repeat;
}
.site-content article footer .home-post-meta .home-comments {
  background-image: url("images/homepage_sprite.png");
  background-position: 5px -48px;
  background-repeat: no-repeat;
}
#respond form input[type="text"], #respond form textarea{
	background-color:#E1E1E1;
}
.menu-toggle, button, input[type="submit"], input[type="button"], input[type="reset"]{
	background:#00AEC7;
	color:#FFF;
	border:none;
}	
.reply{
	background:#00AEC7;
	width: 56px;
	width: 4rem;
	color:#FFF;
	text-align:center;
	padding:2px;
}
.reply a{
	color:#FFF;
	text-decoration:none;
}
/* =HEADER Section
--------------------------------------------------------------*/
/* === HEADER Section: jaguza-specific styling === */
#jaguza_slider_strip{
	height: 380px;
	clear:both; /*You need this to ensure that the slider doesn't overlap the navigation menu as the screen size becomes smaller*/
}
/*Breadcrumbs*/
#jaguza_breadcrumbs {
	font-size: 11px;  
	padding: 10px 0px 5px;  
	margin-bottom: 21px;
	margin-bottom:1.5rem;
}
#jaguza_breadcrumbs a {
	color: #00AEC7;  
	text-decoration: none;
}
#jaguza_breadcrumbs a:hover {
	text-decoration: underline;  
}
/* === HEADER Section: Overriding twentytwelve styling === */
/* Header */
.site-header h1 a, .site-header h2 a{
	color:#00AEC7;	
}
.site-header h1 {
	margin-top:14px;
	margin-top: 1rem;	
}
.site-header h2 {
	font-size:0.8rem;
	line-height:0;
}

.site-header{
	border-bottom:1px solid #ECECEC;
	min-height:84px;
	min-height:6rem;
	padding:0;
	margin-bottom:42px;
	margin-bottom:3rem;
}
.single .site-header,.page .site-header {
	margin-bottom:14px;
	margin-bottom:1rem;
}
.single #secondary,.page #secondary{
	margin-top: 56px;
	margin-top:4rem;
}
.site-content{
	margin:0;
}
#masthead hgroup{
	float:left;
	
}

/* Navigation Menu */
.main-navigation {
	margin-top: 0;
	text-align: right;
	max-width:80%;
	float:right;
}
.main-navigation ul.nav-menu {
	border:none;
}
.main-navigation li a {
		border-bottom: 0;
		color: #6a6a6a;
		text-transform: uppercase;
		white-space: nowrap;
		padding: 0 20px;
		padding: 0 1.42857rem ;
		height:80px;
		height:5.7143rem;
		line-height:6.5;
	}
.main-navigation li a:hover {
		color: #adadad;
		font-weight: normal;
		background-color:#FBFBFB;
		border-bottom:4px solid #00AEC7;
		height:80px;
		height:5.7143rem;
		line-height:6.5;
	}
.main-navigation li {
		padding: 0 1px 0 0;
		padding: 0 0.071428571rem 0 0;
		position: relative;
		margin:0;
	}
 
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
		color: #adadad;
		font-weight: normal;
		background-color:#FBFBFB;
		border-bottom:4px solid #00AEC7;

}
/*2nd Level, 3rd...nth level menus*/
ul.sub-menu{
	border-top: 2px solid #D95B44;
}
.main-navigation ul li ul li a{
	border-bottom: 1px solid #DCDADB;
	height: 20px;
	line-height:20px;
	text-indent: 10px;
	text-align:left;
	font-size: 0.9em;
	text-transform:capitalize;
}	
.main-navigation ul li ul li a:hover{
	font-weight:normal;
	background: #e3e3e3;
	height: 20px;
	line-height:20px;
}

/* =SIDEBAR Section
--------------------------------------------------------------*/
/* === SIDEBAR Section: jaguza-specific styling === */


/* === SIDEBAR Section: Overriding twentytwelve styling === */
/* Sidebar */
.widget-area .widget h3{
	border-bottom:1px solid #ECECEC;
	padding:0 1.5rem 1.5rem 0;
	color:#686866;	
	text-transform:capitalize;
	font-size:1.21857rem;
}
.widget-area .widget a{
	color:#00AEC7;
	text-decoration:none;
}


/* =FOOTER Section
--------------------------------------------------------------*/
/* === FOOTER Section: jaguza-specific styling === */
footer.jaguza_footer{
	min-height:350px;
	min-height:25rem;
	background-color:#474747;
	color:#999;
}
footer.jaguza_footer a{
	color: #00AEC7;
	text-decoration:none;	
}
footer.jaguza_footer a:hover{
	text-decoration:underline;
}
ul.footer_widgets {
	width:100%;
	height: 100%;	
	padding-top: 42px;
	padding-top:3rem;
}
ul.footer_widgets{
 margin: 3rem 0 0 0; 
 margin: 42px 0 0 0 ;
 padding: 0;
 list-style:none;
}
#jaguza_footer_strip  .widget ul li a{
	font-weight: normal;
}
#jaguza_footer_strip  .widget ul li{
	padding:3px 0;
}
#jaguza_footer_strip  .widget ul li a:hover{
	text-decoration:underline;
}
#jaguza_footer_strip section.columns article,#jaguza_footer_strip  .widget{
	max-width:300px;
	max-width: 19.4285714rem;
	float:left;
	text-align:left;
	padding-right: 7px;
	padding-right:0.5rem;	
	padding-top: 7px;
	padding-top:0.5rem;
	font-size:0.9em;
	min-width:20%;
}

#jaguza_footer_strip section.columns article p,#jaguza_footer_strip  .widget p{
	margin-bottom: 35px;
	margin-bottom:1.5rem;
	padding-right:28px;
	padding-right: 2rem;
}
#jaguza_footer_strip  .widget h2{
	font-size: 1.7em;
	margin-bottom:14px;
	margin-bottom:1rem;
	font-weight:bold;
	font-family:  "Open Sans",Helvetica,Arial,sans-serif;
	color:#E9E7E8;
	border-bottom:1px solid #757575;
	padding:0 1.5rem 1.5rem 0;
}
/*The Floating Sidebar*/
#floating_social_sidebar{
	position:fixed;
    top:210px;
    left:0;
	background-color:#00AEC7;
	width:35px;
	width:2.5rem;
	padding:21px 0;
	padding: 1.5rem 0;
	-webkit-border-radius: 0 6px 6px 0; /* Safari prototype */
	-moz-border-radius: 0 6px 6px 0; /* Old Firefox browsers */
	border-radius: 0 6px 6px 0; /* Everything else - limited support at the moment */
}
ul.floating_tabs{
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.floating_tabs li{
	height:24px;
	cursor:pointer;
	padding:4px 1px;
}
 
.copyright{
	border-top: 1px solid #757575;
	font-size:0.8em;
	padding: 1.5rem 0;
	margin-top:1.5rem;
}
#scroll-to-top {
	width:50px;
	position:fixed; /* this is the magic */
	bottom:28px; /* together with this to put the div at the bottom*/
	right:20px;
	cursor:pointer;
	display:none;
	background-image: url(images/back_to_top_button.png);
	background-position: center top;
	background-repeat:no-repeat;
	height: 40px;
}
#scroll-arrow{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}
/* =RESPONSIVE Design
--------------------------------------------------------------*/
/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
body .site {
		padding: 0 0.5rem;
		margin: 0 auto;
		box-shadow: none;
		background-color: #FFF;		
	}
body .home {
		background-color: #FFF;
	}
body.page .site ,body.single .site {
		background-color: #FFF;
		color: #666666;
		font-family: "Myriad Pro","Open Sans",Helvetica,Arial,sans-serif;
		
	}	
body.page .site p,body.single .site p{
	font-size:1em;
	line-height:1.71429;
}
footer.jaguza_footer{
	padding-left:0;
}

}
@media screen and (max-width: 682px) { 
/*This intermediate styling is needed for the navigation menu 
before it makes a transition to the mobile menu*/
	.main-navigation{
	margin-top: 1.7rem;
	max-width:90%;
	float:left;
}
.main-navigation li a,.main-navigation li a:hover{
	height:2rem;
	line-height:2.4;
}
}

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {

footer.jaguza_footer{
	padding-left:1rem;
}
		.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		text-align: right;
		border-top:none;
		border-bottom:none;
	}

	
}

@media screen and (max-width: 599px) {
	.site{
		padding:0 0.5rem;
	}
	.site-content{
		max-width:100%;
		width:100%;
	}
.site-content article footer .home-post-meta div{
	max-width:90%;
	padding-right: 0;
}
.site-content article footer .home-post-meta{
	border-bottom:1px solid #E5E5E5;
	padding-bottom:1.5rem;
	margin-bottom:1rem;
}
.site-content article footer{
	border-bottom: none;
}

#jaguza_slider_strip{
	min-height: 380px;
	height:auto;
	}
	#jaguza-home-slider .main-slider-text{
	float:none;
	width:90%;
	text-align:center;
}
#jaguza-home-slider .main-slider-image{
	margin:0 auto;
	float:none;
	width: 90%;
}
#jaguza-home-slider span.read-more a{
	position:inherit;
	top:auto;
	right: auto;
	padding:0;
}
#jaguza-home-slider .flex-control-nav{
	position:inherit;
	bottom:auto;
	right: auto;
}
#jaguza-home-slider .flex-control-paging li a{
	width:11px;
}
.site-header h2{
	line-height:1;
}
 
	#scroll-to-top{
		visibility: hidden;
	}
	#jaguza_slider_strip{
	min-height: 380px;
	height:auto;
	}
	#floating_social_sidebar{
		display:none;
	}
	#jaguza_slider_strip .main-slider-text h3 a{
		font-size:1.2em !important;
	}
	#jaguza_slider_strip .main-slider-text p{
		font-size:1em!important;
	}
	.site-header h1, .site-header h2{
		text-align:left;
		padding-left:5px;
	}
	#jaguza_footer_strip section.columns article, #jaguza_footer_strip .widget{
		padding-left:1rem;
		
	}

}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; margin:0 auto;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border-bottom: 1px solid #ECECEC; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a {width: 40px; height: 40px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #D5D5D5; background: rgba(213, 213, 213, 1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
/*  For the homepage blocks*/
  #jaguza_homepageblocks_strip .homepageblock-slider ul.flex-direction-nav .flex-prev { 
	left: 70%;
 }
 #jaguza_homepageblocks_strip .homepageblock-slider ul.flex-direction-nav .flex-next {
	 right: 5%;
 }
}
@media screen and (max-width: 300px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 30%;}
  .flexslider:hover .flex-next {opacity: 0.8; right: 30%;}
}